.App {
  font-family: "Roboto";
  background-color: #eee;
}

.first-let-cap::first-letter {
  text-transform: capitalize;
}

.square-image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.square-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  max-height: 400px;
}


.cart-img {
  width: 4.5rem!important;
}

